<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <p>&copy 2020 Lanco Lab（北京大学语言计算与机器学习组）</p>
          <p>网站管理员联系方式：zhangyi16@pku.edu.cn</p>
        </div>

		<div class="col-sm-4">
			Contact:<br />
			Forth floor, Science Building One, Peking University（Institute of Computational Linguistics, MOE Key Laboratory of Computational Linguistics) <br />
			zip code:  100871
        </div>

		<div>
			Related Links:<br />
			- <a href="http://www.pku.edu.cn/">Peking University </a> <br />
			- <a href="http://eecs.pku.edu.cn/">School of Electronics Engineering and Computer Science</a> <br />
			- <a href="http://icl.pku.edu.cn/">Institute of Computational Linguistics</a> <br />
        </div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
